<% posts.each do |post| %>
  <div class=" mb-5 card">
    <div class="card-body">
      <%= link_to user_path(post.user), class: "text-dark text-decoration-none" do %>
        <%= image_tag post.user.get_profile_image, class: "rounded-circle mr-5 post-profile-image", size: "90x90"%>
        <i class="fas fa-user"></i> <%= post.user.name %>
      <% end %>
    </div>
    <div class="swiper post-image">
      <div class="swiper-wrapper">
        <% post.post_images.each do |image| %>
          <div class="swiper-slide">
            <%= link_to post_path(post) do %>
              <%= image_tag image, style: "height: 35em" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- ページネーションの要素 -->
      <div class="swiper-pagination"></div>
      <!-- ナビゲーションボタン （前、次） -->
      <div class="swiper-button-prev"><i class="fas fa-chevron-circle-left mr-3"></i></div>
      <div class="swiper-button-next"><i class="fas fa-chevron-circle-right ml-3"></i></div>
    </div>
    <div class="card-body">
      <div class="d-flex border-bottom">
        <!--いいねボタンajax-->
        <div id="like_btn_<%= post.id %>" class="mr-3"><%= render "public/likes/btn", post: post %></div>
        <%= link_to post_comments_path(post), class: "text-decoration-none text-dark" do %>
        <i class="far fa-comment"></i>
        <span id="comment_count_<%= post.id %>"><%= post.comments.count %> コメント</span>
        <% end %>
        <!--投稿時間表示-->
        <div class="ml-auto mr-2"><%= "#{time_ago_in_words(post.created_at)}前" %></div>
      </div>
      <!--タグ付け-->
      <% post.tags.each do |tag| %>
      <i class="fas fa-tag"></i><strong><%= link_to tag.name, search_tag_posts_path(tag_id: tag.id), class: "text-dark text-decoration-none mr-1" %></strong>
      <% end %>
      <!--コメントフォーム-->
      <div class="comment-form"><%= render "public/comments/form", post: post, comment: Comment.new %></div>
    </div>
  </div>
<% end %>