<div class="container">
  <div class="row">
    <!--戻るボタン-->
    <%= link_to :back, class: "ml-auto" do %>
    <i class="fas fa-times fa-3x"></i>
    <% end %>
  </div>
  <div class="row">
    <div class="col-6 mx-auto mt-5">
      <h1 class="text-center">投稿を編集</h1>
      <%= form_with model: @post do |f| %>
      <%= render 'layouts/errors', obj: @post %>
        <div class="row mt-5">
          <%= f.label :画像, class: "col-form-label col-3"%>
          <!--画像プレビュー機能-->
          <% @post.post_images.each do |image| %>
            <%= image_tag image, onClick: "$('.img_field').click()", class: "img_prev col-6", size: "150x250" %>
          <% end %>
            <%= f.file_field :post_images, class: "img_field mx-auto mt-5", multiple: true,  style: 'display:none;', accept: 'image/*' %>
        </div>
        <div class="row mt-5">
          <%= f.label :ショップ名, class: "col-form-label col-3", placeholder: "お店の名前を入力..."%>
          <%= f.text_field :shop_name, class: "col-9 form-control"%>
        </div>
         <div class="row mt-5">
          <%= f.label :料理名, class: "col-form-label col-3", placeholder: "料理の名前を入力..."%>
          <%= f.text_field :dish_name, class: "col-9 form-control"%>
        </div>
        <div class="row mt-5">
          <%= f.label :キャプション, class: "col-form-label col-3"%>
          <%= f.text_area :caption, class: "col-9 form-control",placeholder: "キャプションを入力...", size: "30x5"%>
        </div>
        <!--価格選択-->
        <div class="row mt-5">
          <%= f.label :価格, class: "col-form-label col-3"%>
          <%= f.number_field :price, class: "col-9 form-control"%>
        </div>
        <!--タグ機能-->
        <div class="row mt-5">
          <%= f.label"タグ (,で区切ると複数タグ登録できます)", class: "col-form-label col-3" %>
          <%= f.text_field :name,value: @tag_list,class: "col-9 form-control"%>
        </div>
         <!--地図情報を追加-->
        <div class="row mt-5">
          <%= f.label :address, '場所', class: "col-form-label col-3" %>
          <%= f.text_field :address, class: 'col-9 form-control' %>
        </div>
        <!--投稿の公開・非公開ボタン-->
        <div class="row mt-5">
          <%=f.label:"公開範囲",class:"col-3"%>
          <div style="padding-right:80px;">
          <%= f.radio_button :displayed, :true %>
          <%= f.label :displayed, "公開", {value: :true, style: "display: inline-block;"} %></div>
          <div style="padding-right:20px;">
          <%= f.radio_button :displayed, :false %>
          <%= f.label :displayed, "下書き保存", {value: :false, style: "display: inline-block;"} %></div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
          <%= f.submit "変更を保存する", class: "btn btn-success mr-5"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
