<div class="container" style="margin-top: 10%;">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="text-center">新規投稿</h1>
      <%= form_with model: @post do |f| %>
        <%= render 'layouts/errors', obj: @post %>
        <div class="row mt-5">
          <div class="col-12">
            <div id="image-preview" class="row">
              <!--画像プレビュー機能-->
              <% @post.post_images.each do |image| %>
                <div class="col-4"><%= image_tag image, class: "img_prev img-fluid" %></div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <%= f.label :画像, class: "col-form-label col-3"%>
          <%= f.file_field :post_images, class: "img_field col-9", multiple: true, accept: 'image/*' %>
        </div>
        <div class="row mt-5">
          <%= f.label :ショップ名, class: "col-form-label col-3", placeholder: "お店の名前を入力..."%>
          <%= f.text_field :shop_name, class: "col-9 form-control"%>
        </div>
         <div class="row mt-5">
          <%= f.label :料理名, class: "col-form-label col-3", placeholder: "料理の名前を入力..."%>
          <%= f.text_field :dish_name, class: "col-9 form-control"%>
        </div>
        <div class="row mt-5">
          <%= f.label :キャプション, class: "col-form-label col-3"%>
          <%= f.text_area :caption, class: "col-9 form-control", placeholder: "キャプションを入力...", size: "30x5"%>
        </div>
        <!--価格選択-->
        <div class="row mt-5">
          <%= f.label :価格, class: "col-form-label col-3"%>
          <%= f.number_field :price, class: "col-9 form-control", placeholder: "半角で入力してください" %>
        </div>
        <!--表示非表示機能追加-->
        <!--地図情報入力フォーム-->
        <div class="row mt-5">
          <%= f.label :address, '場所', class: "col-form-label col-3" %>
          <%= f.text_field :address, class: 'col-9 form-control', placeholder: "渋谷, スカイツリー, ⚪︎⚪︎タワー１階" %>
        </div>
         <!--タグ機能-->
        <div class="row mt-5">
          <%= f.label :タグ, class: "col-form-label col-3" %>
          <!--過去にユーザーが登録したタグ一覧-->
          <div class="d-flex flex-row flex-wrap p-2 border rounded col-9 mb-3">
            <%= f.collection_check_boxes( :tag_ids, Tag.all, :id, :name) do |b| %>
        	    <div class="mx-1">
        	      <%= b.check_box %>
        	      <%= b.label %>
        	    </div>
            <% end %>
          </div>
          <%#= f.collection_select :old_name, Tag.all, :id, :name, {include_blank: "タグを選択してください(複数選択はshift[command]を押しながら)"}, {class: "form-control col-9", multiple: true} %>
          <p class="offset-md-3">タグがなければ下記のフォームより入力してください</p>
          <!--新規でタグを登録するフォーム-->
          <%= f.text_field :name, value: @tag_list, class: "offset-md-3 form-control", placeholder: ",(カンマ)で区切ると複数のタグを登録できます"%>
        </div>
        <!--投稿の公開・非公開ボタン-->
        <div class="row mt-5">
          <%=f.label:"公開範囲",class:"col-3"%>
          <div style="padding-right:80px;">
          <%= f.radio_button :displayed, :true %>
          <%= f.label :displayed, "公開", {value: :true, style: "display: inline-block;"} %></div>
          <div style="padding-right:20px;">
          <%= f.radio_button :displayed, :false %>
          <%= f.label :displayed, "下書き保存", {value: :false, style: "display: inline-block;"} %></div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
          <%= f.submit "投稿する", class: "btn btn-outline-primary mr-5"%>
        </div>
      <% end %>
    </div>
  </div>
</div>