<div class="container">
  <div class="row">
    <div class="col-7 mx-auto mt-5">
      <h1 class="text-center">新規投稿</h1>
      <%= form_with model: @post do |f| %>
      <%= render 'layouts/errors', obj: @post %>
        <div class="row mt-5">
          <%= f.label :画像, class: "col-form-label col-3"%>
          <!--画像プレビュー機能-->
          <%= image_tag @post.get_post_image, onClick: "$('.img_field').click()", class: "img_prev col-6", size: "150x250" %>
          <%= f.file_field :post_image, class: "img_field mx-auto mt-5",style: 'display:none;', accept: 'image/*' %>
        </div>
        <div class="row mt-5">
          <%= f.label :ショップ名, class: "col-form-label col-3", placeholder: "お店の名前を入力..."%>
          <%= f.text_field :shop_name, class: "col-9 form-control"%>
        </div>
         <div class="row mt-5">
          <%= f.label :料理名, class: "col-form-label col-3", placeholder: "料理の名前を入力..."%>
          <%= f.text_field :dish_name, class: "col-9 form-control"%>
        </div>
        <div class="row mt-5">
          <%= f.label :キャプション, class: "col-form-label col-3"%>
          <%= f.text_area :caption, class: "col-9 form-control", placeholder: "キャプションを入力...", size: "30x5"%>
        </div>
        <!--価格選択-->
        <div class="row mt-5">
          <%= f.label :価格, class: "col-form-label col-3"%>
          <%= f.number_field :price, class: "col-9 form-control", placeholder: "半角で入力してください" %>
        </div>
        <!--表示非表示機能追加-->
        <!--地図情報入力フォーム-->
        <div class="row mt-5">
          <%= f.label :address, '場所', class: "col-form-label col-3" %>
          <%= f.text_field :address, class: 'col-9 form-control' %>
        </div>
         <!--タグ機能-->
        <div class="row mt-5">
          <%= f.label :タグ, class: "col-form-label col-3" %>
          <!--過去にユーザーが登録したタグ一覧-->
          <div class="d-flex flex-row flex-wrap p-2 border rounded col-9 mb-3">
            <%= f.collection_check_boxes( :tag_ids, Tag.all, :id, :name) do |b| %>
        	    <div class="mx-1">
        	      <%= b.check_box %>
        	      <%= b.label %>
        	    </div>
            <% end %>
          </div>
          <%#= f.collection_select :old_name, Tag.all, :id, :name, {include_blank: "タグを選択してください(複数選択はshift[command]を押しながら)"}, {class: "form-control col-9", multiple: true} %>
          <p class="offset-md-3">タグがなければ下記のフォームより入力してください</p>
          <!--新規でタグを登録するフォーム-->
          <%= f.text_field :name, value: @tag_list, class: "offset-md-3 form-control", placeholder: ",(カンマ)で区切ると複数タグを登録できます"%>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
          <%= f.submit "投稿する", class: "btn btn-outline-primary mr-5"%>
        </div>
      <% end %>
    </div>
  </div>
</div>