<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-11">
      <h1 class="responsive-title text-center">新規投稿</h1>
      <%= form_with model: @post do |f| %>
      <!--エラーメッセージ-->
      <div class="row justify-content-center text-center mr-4"><%= render 'layouts/errors', obj: @post %></div>
        <div class="row mt-5">
          <%= f.label :post_images, "画像", class: "col-form-label col-sm-3 text-center"%>
          <%= f.file_field :post_images, class: "img_field col-sm-9 ml-3 ml-md-0 mb-2", multiple: true, accept: 'image/*' %>
          <p class="col-md-9 offset-md-3 col-11 offset-1">※ 添付できる画像は４枚までです。</p>
          <div class="col-12">
            <div id="image-preview" class="row ml-md-5">
              <!--画像プレビュー機能-->
              <% @post.post_images.each do |image| %>
                <div class="col-4"><%= image_tag image, class: "img_prev img-fluid" %></div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <%= f.label :shop_name, "ショップ名", class: "col-form-label col-sm-3 text-center", placeholder: "お店の名前を入力..."%>
          <%= f.text_field :shop_name, class: "form-control col-sm-9"%>
        </div>
         <div class="row mt-5">
          <%= f.label :dish_name, "料理名", class: "col-form-label col-sm-3 text-center", placeholder: "料理の名前を入力..."%>
          <%= f.text_field :dish_name, class: "col-sm-9 form-control"%>
        </div>
        <div class="row mt-5">
          <%= f.label :caption, "キャプション", class: "col-form-label col-sm-3 text-center"%>
          <%= f.text_area :caption, class: "form-control col-sm-9", placeholder: "キャプションを入力... (200文字まで)", size: "30x5"%>
        </div>
        <!--価格選択-->
        <div class="row mt-5">
          <%= f.label :price, "価格", class: "col-form-label col-sm-3 text-center"%>
          <%= f.number_field :price, class: "form-control col-sm-9", placeholder: "半角で入力してください" %>
        </div>
        <!--地図情報入力フォーム-->
        <div class="row mt-5">
          <%= f.label :address, '場所', class: "col-form-label col-sm-3 text-center" %>
          <%= f.text_field :address, class: 'form-control col-sm-9', placeholder: "渋谷, スカイツリー, ⚪︎⚪︎タワー１階" %>
        </div>
        <!--タグ機能-->
        <div class="row mt-5">
          <%= f.label :name, "タグ", class: "col-form-label col-sm-3 text-center" %>
          <!--過去にユーザーが登録したタグ一覧-->
          <div class="d-flex flex-row flex-wrap p-2 border rounded col-sm-9 mb-3">
            <%= f.collection_check_boxes( :tag_ids, Tag.all, :id, :name) do |b| %>
        	    <div class="mx-1">
        	      <%= b.check_box %>
        	      <%= b.label %>
        	    </div>
            <% end %>
          </div>
          <p class="offset-md-3">タグがなければ下記のフォームより入力してください</p>
          <!--新規でタグを登録するフォーム-->
          <%= f.text_field :name, value: @tag_list, class: " form-control offset-md-3", placeholder: ",(カンマ)で区切ると複数のタグを登録できます"%>
        </div>
        <!--投稿の公開・非公開ボタン-->
        <div class="row mt-5">
          <%=f.label:"公開範囲",class:"col-form-label col-sm-3 text-center"%>
          <div class="col-sm-9 d-flex">
             <div class="form-check form-check-inline col-3 offset-2">
              <%= f.radio_button :displayed, :true, class: "form-check-input" %>
              <%= f.label :displayed, "公開", value: true, class: "form-check-label" %>
            </div>
            <div class="form-check form-check-inline col-md-3 offset-md-1 col-5 offset-2">
              <%= f.radio_button :displayed, :false, class: "form-check-input" %>
              <%= f.label :displayed, "非公開", value: false, class: "form-check-label" %>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
          <%= f.submit "投稿する", id: "/post", class: "btn btn-outline-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>