<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h4>
          <div>キーワード: <strong>"<%= params[:word] %>"</strong></div>
          <div>価格:  <strong>"<%= params[:min_search] %> 〜 <%= params[:max_search] %>"</strong>円</div>
          <div>タグ: <strong><%= @tag_word %></strong></div>
        </h4>
      </div>
      <div class="col-12 flex mt-5">
        <!--投稿partial-->
        <%= render "public/users/post", posts: @posts %>
      </div>
      <!--ページネーション-->
      <div class="d-flex justify-content-center mt-5"><%= paginate @posts %></div>
    </div>
  </div>
</div>

