<div class="container">
     <div class="card mt-5 container" style="width: 60rem; margin-left: 100px;">
  <div class="row">
    <div class="card-body">
      <%= link_to user_path(@post.user), class: "text-decoration-none text-dark" do %>
      <%= image_tag @post.user.get_profile_image, class: "rounded-circle mr-5", size: "70x70"%>
      <%= @post.user.name %>
      <% end %>
      <ul class="menu">
        <li class="text-center">
          ・・・
          <ul class="menuSub">
            <li><%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-success" %></li>
            <li><%= link_to "削除", post_path(@post), class: "btn btn-outline-danger", method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <%= image_tag @post.post_image, size: "380x400" %>
        <div class="d-flex border-bottom my-3">
          <!--いいねボタンajax-->
          <div id="like_btn_<%= @post.id %>" class="mr-3"><%= render "public/likes/btn", post: @post %></div>
          <%= link_to post_comments_path(@post), class: "text-decoration-none text-dark" do %>
          <i class="far fa-comment"></i>
          <span id="comment_count"><%= @post.comments.count %> コメント</span>
          <% end %>
          <!--投稿時間表示-->
          <div class="ml-auto mr-2"><%= "#{time_ago_in_words(@post.created_at)}前" %></div>
        </div>
      </div>
      <div class="col-7 mt-3">
        <div class="row">
          <p class="col-4 ml-3">ショップ名</p>
           <h3 class="col-7 text-center"><%= @post.shop_name %></h3>
        </div>
        <div class="row mt-4">
          <p class="col-4 ml-3">料理名</p>
            <h4 class="col-7 text-center"><%= @post.dish_name %></h4>
        </div>
        <div class="row mt-4">
          <p class="col-4 ml-3">価格</p>
           <div class="col-7 text-center"><%= @post.price %> 円</div>
        </div>
        <div class="row mt-4">
          <p class="col-4 ml-3">キャプション</p>
          <div class="col-7 text-aline border rounded"><%= simple_format(@post.caption) %></div>
        </div>
        <div class="row mt-4">
          <p class="col-4 ml-3">場所</p>
            <p class="col-7 text-center"><%= @post.address %></p>
        </div>
      </div>
      <!--googl map-->
      <div class='container'>
        <div class='row'>
          <div class='col-12 mx-auto mb-1'>
            <div id='map'></div>

            <style>
            #map{
              height: 400px;
            }
            </style>

            <script>
            /*
            mapを関数の外で定義(codeAddressでも使うため)
            geocoderを用意
            */

            let map
            let geocoder

            function initMap(){
              // geocoderを初期化
              geocoder = new google.maps.Geocoder()

              map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
              zoom: 15
              });
              marker = new google.maps.Marker({ //GoogleMapにマーカーを落とす
                position:  {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}, //マーカーを落とす位置を決める（値はDBに入っている）
                map: map //マーカーを落とすマップを指定
              });
            }


            function codeAddress(){
              // 入力を取得
              let inputAddress = document.getElementById('address').value;

              // geocodingしたあとmapを移動
              geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                if (status == 'OK') {
            　　　　　　　　　　　　// map.setCenterで地図が移動
                  map.setCenter(results[0].geometry.location);

            　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
                  var marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location
                  });
                } else {
                  alert('Geocode was not successful for the following reason: ' + status);
                }
              });
            }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
