<table class="table table-borderless table-sm">
  <% comments.each do |comment| %>
  <tr>
    <td><%= image_tag comment.user.get_profile_image, class: "rounded-circle", size: "40x40" %></td>
    <td><%= link_to comment.user.name, user_path(comment.user), class: "text-decoration-none text-dark" %></td>
    <td style="width: 70px;">
      <%= link_to post_comment_path(comment.post_id, comment), class: " text-decoration-none text-dark", method: :delete, remote: true do %>
      <i class="far fa-trash-alt"></i>削除
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="3"><%= simple_format(comment.content) %></td>
  </tr>
  <tr>
    <!--コメント時間表示-->
    <td colspan="2"><%= "#{time_ago_in_words(comment.created_at)}前" %></td>
    <td></td>
  </tr>
  <% end %>
</table>