<link rel="stylesheet" type="text/css" href="slick.css">
<link rel="stylesheet" type="text/css" href="slick-theme.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<div class="slider">
  <div class="slide fade">
    <%= image_tag "top_image.jpg" %>
  </div>
  <div class="slide fade">
    <%= image_tag "images (1).jpeg" %>
  </div>
  <div class="slide fade">
    <%= image_tag "images (2).jpeg" %>
  </div>
  <div class="slide fade">
    <%= image_tag "ダウンロード (2).jpeg" %>
  </div>
</div>
  <div class="top-sidebar">
    <div class="top-name">Foodium</div>
    <div class="top-link">
      <div class="text-center text-dark">アカウントをお持ちの方<%= link_to "こちら", new_user_session_path, class: "text-success text-decoration-none" %></div>
      <div class="text-center text-dark">アカウントをお持ちでない方<%= link_to "こちら", new_user_registration_path, class: "text-success text-decoration-none" %></div>
    </div>
  </div>


