<!--トップページのスライドショー-->
<div class="swiper-top">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag asset_path("green_cake.jpg") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag asset_path("egg.jpg") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag asset_path("pancake.jpg") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag asset_path("lunch.jpg") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag asset_path("cakeset.jpg") %>
    </div>
  </div>
</div>
<!--サイドバー-->
<div class="top-sidebar">
  <div class="top-name">Foodium</div>
  <div class="top-link">
    <div class="text-center text-dark">アカウントをお持ちの方<%= link_to "こちら", new_user_session_path, class: "text-success text-decoration-none" %></div>
    <div class="text-center text-dark">アカウントをお持ちでない方<%= link_to "こちら", new_user_registration_path, class: "text-success text-decoration-none" %></div>
  </div>
  <!--aboutページへスクロールするリンク-->
  <%= link_to "#about", class: "text-dark text-decoration-none" do %>
    <div class="d-flex justify-content-center">
      <p class="about-link" style="font-size: 50px;">about<i class="fas fa-chevron-circle-down ml-2 mt-4" style="font-size: 30px;"></i></p>
    </div>
  <% end %>
</div>
<!--アバウトページ-->
<div id="about">
  <p class="text-center" style="font-size: 70px; font-family: cursive;">about</p>
  <div class="text-center">
    <p>Foodium(フーディアム)は、あなたの日々の外食を記録したり共有できるSNSサイトです。</p>
    <p>あなたの知らない素敵なお店や料理に出会うことができます。</p>
  </div>
  <h1 class="text-center mt-5 mb-3" style="font-family: cursive;">Usage</h1>
  <div class="d-md-flex justify-content-center my-3">
    <div class="mr-md-5 mt-5 mt-md-0">
       <h4 class="about-usage-title text-center rounded mx-auto" style="background-color: #8fbc8f;">投稿して共有しよう！</h4>
       <div class="d-flex justify-content-center"><%= image_tag asset_path("posting.jpg"), size: "250x320" %></div>
    </div>
    <div class="mr-md-5 mt-5 mt-md-0">
       <h4 class="about-usage-title text-center mx-auto rounded" style="background-color: #8fbc8f;">日々の食事を記録！</h4>
       <div class="d-flex justify-content-center"><%= image_tag asset_path("draft-image.jpg"), size: "330x320" %></div>
    </div>
    <div class="mt-5 mt-md-0">
       <h4 class="about-usage-title text-center rounded mx-auto"  style="background-color: #8fbc8f;">お店や料理を探せる！</h4>
       <div class="d-flex justify-content-center"><%= image_tag asset_path("search-image.jpg"), size: "250x320" %></div>
    </div>
  </div>
</div>