<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="responsive-title text-center">通報一覧</h1>
      <table class="table text-center mt-5">
        <thead>
          <tr>
            <th>通報ID</th>
            <th>ユーザーネーム</th>
            <th>通報者</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td><%= link_to report.id, admin_report_path(report) %></td>
              <td><%= report.reported.name %></td>
              <td><%= report.reporter.name %></td>
              <td>
                <% if report.status == "waiting" %>
                 <p class="text-danger"><%= report.status_i18n %></p>
                <% elsif report.status == "keep" %>
                 <p class="text-dark"><%= report.status_i18n %></p>
                <% else %>
                 <p class="text-success"><%= report.status_i18n %></p>
                <% end %>
              </td>
              <td>
                <% if report.status == "finished" %>
                  <%= link_to "削除", admin_report_path(report), method: :delete, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-5"><%= paginate @reports %></div>
    </div>
  </div>
</div>