<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h1 class="responsive-title text-center">通報詳細</h1>
      <table class="table table-borderless text-center mt-5">
          <tbody>
            <tr>
              <th>通報ID</th>
              <td><%= @report.id %></td>
            </tr>
            <tr>
              <th>ユーザーネーム</th>
              <td><span class="mr-5"><%= link_to @report.reported.name, admin_user_path(@report.reported) %></span><span><%= link_to "投稿一覧", admin_user_posts_path(@report.reported)%></span></td>
            </tr>
            <tr>
              <th>通報者</th>
              <td><%= link_to @report.reporter.name, admin_user_path(@report.reporter) %></td>
            </tr>
            <tr>
              <th>理由</th>
              <td class="border"><%= @report.reason %></td>
            </tr>
            <tr>
              <th>対応ステータス</th>
              <td>
                <%= form_with model:@report, url:admin_report_path(@report), method: :patch, local: true do |f| %>
                  <%= f.select :status, Report.statuses.keys.map { |k| [t("enums.report.status.#{k}"), k] } %>
                  <%= f.submit '更新' %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>