<div class="container">
  <div class="row">
    <h1 class="responsive-title text-center mx-auto mb-5"><%= @user.name %>さんの投稿</h1>
  </div>
  <div class="row">
    <div class="col-12 d-md-flex justify-content-center">
      <% if @posts.exists? %>
        <% @posts.each do |post| %>
          <div class="card mb-5 ml-2" style="width: 21rem; height: 26rem;">
            <div class="card-body">
              <%= link_to user_path(post.user), class: "text-dark text-decoration-none" do %>
                <%= image_tag post.user.get_profile_image, class: "rounded-circle mr-5 post-profile-image", size: "60x60"%>
                <i class="fas fa-user"></i> <%= post.user.name %>
              <% end %>
            </div>
            <div class="swiper post-image mt-3">
              <div class="swiper-wrapper">
                <% post.post_images.each do |image| %>
                  <div class="swiper-slide">
                    <%= link_to admin_post_path(post) do %>
                      <%= image_tag image, style: "height: 35em" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <!-- ページネーションの要素 -->
              <div class="swiper-pagination"></div>
              <!-- ナビゲーションボタン （前、次） -->
              <div class="swiper-button-prev"><i class="fas fa-chevron-circle-left mr-3"></i></div>
              <div class="swiper-button-next"><i class="fas fa-chevron-circle-right ml-3"></i></div>
            </div>
            <div class="card-body">
              <!--タグ-->
              <% post.tags.each do |tag| %>
                <i class="fas fa-tag ml-1"></i> <%= tag.name %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3 class="mx-auto text-center mt-5">投稿はありません</h3>
      <% end %>
    </div>
  </div>
</div>