<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-12">
      <h1 class="text-center title"><%= @user.name %>さんのユーザー情報</h1>
      <div class="row my-5 justify-content-center">
        <span class="col-sm-3 text-center mb-3 mb-md-0">プロフィール画像</span>
        <span class="col-sm-9 text-center text-md-left"><%= image_tag @user.get_profile_image, class: "rounded-circle", size: "180x180" %></span>
      </div>
      <div class="row mb-5">
        <span class="col-sm-3 text-center mb-3 mb-md-0">ユーザーネーム</span>
        <span class="col-sm-9 text-center text-md-left"><%= @user.name %></span>
      </div>
      <div class="row mb-5 mx-auto">
        <span class="col-sm-3 text-center mb-3 mb-md-0">自己紹介</span>
        <span class="col-sm-9 col-12 border rounded bg-light mx-auto py-1"><%= simple_format(@user.introduction) %></span>
      </div>
      <div class="row mb-5">
        <span class="col-sm-3 text-center mb-3 mb-md-0">ステータス</span>
        <span class="col-sm-9 text-center text-md-left">
          <% if @user.is_deleted %>
            <div class="text-danger">退会</div>
          <% else %>
            <div class="text-success">有効</div>
          <% end %>
        </span>
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-success col-6" %>
      </div>
    </div>
  </div>
</div>