<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2 class="text-center mt-5">Foodium</h2>
      <%= form_with model: @user, url: user_session_path do |f| %>
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mt-5", placeholder: "メールアドレス" %>
        </div>
      
        <div>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control mt-4", placeholder: "パスワード" %>
        </div>
      
        <div class="actions d-flex justify-content-center">
          <%= f.submit "ログイン", class: "btn btn-primary mt-4 py-2 px-4" %>
        </div>
      <% end %>
      <div class="border mt-5"></div>
      <div class="d-flex justify-content-center mt-4">
        <p class="mr-3">アカウントをお持ちでないですか？</p>
      <div><%= render "public/shared/links" %></div>
      </div>
    </div>
  </div>
</div>


