<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-5">
      <h1 class="text-center"><strong>プロフィールを編集</strong></h1>
      <% if @user.email == 'guest@example.com'%>
        <h5 class="text-center mt-5 ml-5">ゲストユーザーはプロフィールの編集ができません。</h5>
      <% else %>
        <%= form_with model:@user do |f| %>
        <%= render 'layouts/errors', obj: @user %>
          <div class="row mt-5">
            <%= f.label :画像, class: "col-form-label col-3"%>
            <!--画像プレビュー機能-->
            <%= image_tag @user.get_profile_image, onClick: "$('.img_field').click()", class: "img_prev rounded-circle col-4", size: "180x150" %>
            <%= f.file_field :profile_image, class: "mt-5 img_field mx-auto", style: 'display:none;', accept: 'image/*' %>
          </div>
          <div class="row mt-5">
            <%= f.label :ユーザーネーム, class: "col-form-label col-3"%>
            <%= f.text_field :name, class: "col-9 form-control"%>
          </div>
          <div class="row mt-5">
            <%= f.label :自己紹介, class: "col-form-label col-3"%>
            <%= f.text_area :introduction, class: "col-9 form-control",placeholder: "50文字まで", size: "30x5"%>
          </div>
          <div class="row mt-5 d-flex justify-content-center">
            <%= f.submit "変更を保存する", class: "btn btn-success mr-5"%>
            <%= link_to "退会する", users_check_path, class: "btn btn-danger" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>