<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="d-flex align-items-center">
          <%= image_tag @user.get_profile_image, size: '180x180', class: "rounded-circle mr-md-4 mr-2 user-show-profile-image" %>
          <p class="ml-md-5 ml-2" style="font-size: 20px;"><%= @user.name %></p>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="py-1 col-11 col-md-4 border rounded bg-light mb-3"><%= simple_format(@user.introduction) %></div>
      </div>
      <div class="row justify-content-center mb-5">
        <!--フォローボタンpartial-->
        <span id="follow_btn_<%= @user.id %>", class="mb-3">
           <%= render 'public/relationships/btn', user: @user %>
        </span>
        <% if @user.id == current_user.id %>
          <div class="d-flex">
            <div class="mr-2 mr-md-4"><%=link_to "下書き一覧", draft_user_path(@user), class: "btn btn-outline-dark", style: "width: 170px;" %></div>
             <div class="ml-md-4"><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-dark", style: "width: 170px;" %></div>
          </div>
          <% else %>
            <div class="ml-5"><%= link_to "通報する", new_user_report_path(@user), class: "btn btn-danger" %></div>
         <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <span class="mr-4 mr-md-5">投稿数 <%= @user.posts.count %></span>
        <span id="follow_count_<%= @user.id %>"><%= render "public/relationships/follow_count", user: @user %></span>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 mt-5">
          <% if @user.id == current_user.id %>
           <!--タブ部分-->
            <ul class="tab-list list-unstyled d-flex justify-content-center">
              <li class="tab tab-active text-center">
                Posts
              </li>
              <li class="tab text-center">
                Likes
              </li>
            </ul>
          <% else %>
            <div class="border text-white text-center mx-auto", style="height: 50px; width: 80%; padding: 10px; background-color: #008080; ">Posts</div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!--タブの中身部分-->
          <div class="tabbox-contents">
            <div class="tabbox box-show" >
              <div class="flex">
                <%= render "post", posts: @posts %>
              </div>
              <!--Postsタブのページネーション-->
              <div class="d-flex justify-content-center mt-5"><%= paginate @posts, :param_name => 'posts_page' %></div>
            </div>
            <div class="tabbox">
              <div id="liked_posts" class="flex">
                <%= render "post", posts: @liked_posts %>
              </div>
              <!--Likedタブのページネーション-->
              <div class="d-flex justify-content-center mt-5"><%= paginate @liked_posts, :param_name => 'liked_page' %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
