<% if request.fullpath.include? "/admin" %>
  <% if admin_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div id="top">
          <a href="#"><%= image_tag asset_path("foodium.jpg"), class: "navbar-brand", size: "250x100" %></a>
        </div>
        <!--ハンバーガーメニュー-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mb-2 ml-auto">
            <li class="nav-item search-group">
              <%= link_to "#", class: "nav-link active btn1" do %>
                <i class="fas fa-search rounded-circle p-2 bg-light"></i> 検索
              <% end %>
              <!--ユーザー検索フォーム-->
              <div class="search-form mt-2", style='display:none;'>
                <%= form_with url: admin_users_path, local: true, method: :get, class: "input-group" do |form| %>
                  <%= f.text_field :word, class: "form-control", placeholder: "ユーザー検索" %>
                  <%= button_tag type: "submit", class: " form-control btn btn-light col-3 ml-auto" do %>
          	         <i class="fas fa-search"></i>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to admin_users_path, class: "nav-link active" do %>
              <i class="fas fa-users rounded-circle p-2 bg-light"></i> ユーザー
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_tags_path, class: "nav-link active" do %>
                <i class="fas fa-tags rounded-circle p-2 bg-light"></i> タグ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link active" do %>
              <i class="fas fa-sign-out-alt rounded-circle p-2 bg-light"></i> ログアウト
              <% end %>
            </li>
          </ul>
      </div>
    </div>
  </nav>
<% end %>
<% elsif user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div id="top">
        <a href="#"><%= image_tag asset_path("foodium.jpg"), class: "navbar-brand", size: "250x100" %></a>
      </div>
      <!--ハンバーガーメニュー-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mb-2 ml-auto">
          <li class="nav-item">
            <%= link_to posts_path, class: "nav-link active" do %>
              <i class="fas fa-home rounded-circle p-2 bg-light"></i> ホーム
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", id:"search", class: "nav-link active" do %>
              <i class="fas fa-search rounded-circle p-2 bg-light"></i> 検索
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link active" do %>
              <!--未読の通知がある場合とない場合で分岐-->
              <% if current_user.notifications.where(checked: false).exists? %>
                <i class="fa-sharp fa-solid fa-bell fa-beat rounded-circle p-2 bg-dark" style="color: #f2ee7d;"></i>
              <% else %>
                <i class="fa-sharp fa-solid fa-bell rounded-circle p-2 bg-light"></i>
              <% end %>
              通知
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path, class: "nav-link active" do %>
            <i class="far fa-image rounded-circle p-2 bg-light"></i> 投稿
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link active" do %>
            <i class="fas fa-user rounded-circle p-2 bg-light"></i> プロフィール
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link active" do %>
            <i class="fas fa-sign-out-alt rounded-circle p-2 bg-light"></i> ログアウト
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>