<div class="sidebar bg-dark">
  <ul class="text-center", style="list-style: none;">
    <% if user_signed_in? %>
      <div class="mt-4" id="top">
        <a class="text-decoration-none btn btn-light btn-lg col-8 mb-4" href="#">LOGO</a>
      </div>
      <li>
        <%= link_to posts_path, class: "text-decoration-none btn btn-outline-light btn-lg col-8" do %>
        <i class="fas fa-home"></i> ホーム
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "text-decoration-none btn btn-outline-light btn-lg col-8" do %>
          <i class="fas fa-search"></i> 検索
        <% end %>
      </li>
      <li>
        <%= link_to notifications_path, class: "text-decoration-none btn btn-outline-light btn-lg col-8" do %>
          <% if current_user.notifications.where(checked: false).exists? %>
            <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
          <% else %>
            <i class="fa-sharp fa-solid fa-bell"></i>
          <% end %>
          通知
        <% end %>
      </li>
      <li>
        <%= link_to new_post_path, class: "text-decoration-none btn btn-outline-light btn-lg col-8" do %>
        <i class="far fa-image"></i> 投稿
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user), class: "text-decoration-none btn btn-outline-light btn-lg col-8" do %>
        <i class="fas fa-user"></i> プロフィール
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "text-decoration-none btn btn-outline-light btn-lg col-8" do %>
        <i class="fas fa-sign-out-alt"></i> ログアウト
        <% end %>
      </li>
    <% else %>
      <div class="mt-4" id="top">
        <a class="text-decoration-none btn btn-light btn-lg col-8 mb-4" href="#">LOGO</a>
      </div>
      <li>
        <%= link_to admin_users_path, class: "text-decoration-none btn btn-outline-light btn-lg col-8" do %>
        <i class="fas fa-users"></i> ユーザー
        <% end %>
      </li>
      <li>
        <%= link_to destroy_admin_session_path, method: :delete, class: "text-decoration-none btn btn-outline-light btn-lg col-8" do %>
        <i class="fas fa-sign-out-alt"></i> ログアウト
        <% end %>
      </li>
    <% end %>
  </ul>
</div>