<!DOCTYPE html>
<html>
  <head>
    <title>Foodium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f9e80abfb4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-2">
        <div class="w-25 mt-5"><%= render "layouts/sidebar" %></div>
      </div>
      <div class="col-10">
        <span class="ml-5"><%= notice %></span>
        <% if user_signed_in? %>
        <div style="position: fixed; top: 4px; right: 3px;">
          <%= form_with url: users_path, local: true, method: :get do |form| %>
            <%= form.text_field :word, placeholder: "ユーザー検索", class: "form_control" %>
            <%= form.submit '検索', class: "btn btn-light" %>
          <% end %>
        </div>
        <div style="position: fixed; top: 50px; right: 3px;">
          <%= form_with(url: search_posts_path, local: true, method: :get) do |f| %>
            <%= f.text_field :word, placeholder: "投稿検索", class: "form_control" %>
            <%= f.submit "検索", class: "btn btn-dark" %>
           <% end %>
        </div>
        <% end %>
        <main>
        <%= yield %>
        </main>
    </div>
  </body>
</html>
