<!DOCTYPE html>
<html>
  <head>
    <title>Foodium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f9e80abfb4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="row">
        <% if user_signed_in? %>
        <div class="col-2 bg-dark">
          <div class="w-25 mt-5 ml-3", style="position: fixed;"><%= render "layouts/sidebar" %></div>
        </div>
        <% end %>
        <div class="col-10">
          <main>
          <%= notice %>
          <%= yield %>
          </main>
        </div>
      </div>

  </body>
</html>
